<span>
  <i class="fas fa-bars sidebar-icon"></i>
</span>
<span style="position: relative; top: 10%;"
  ><i class="far fa-calendar-plus sidebar-icon"></i>
  <!-- <i class="fas fa-search sidebar-icon" style="margin-top: 40px;"></i>
  <i class="fas fa-user-friends sidebar-icon" style="margin-top: 100px;"></i
> -->
</span>
<span style="position: relative; top: 13%;">
  <i class="fas fa-search sidebar-icon"></i>
</span>
<span style="position: relative; top: 20%;">
  <i class="fas fa-user-friends sidebar-icon"></i>
</span>
<span style="position: relative; top: 64%;">
  <i class="fas fa-cog sidebar-icon"></i>
</span>
<span style="position: relative; top: 67%;">
  <i class="fas fa-exclamation sidebar-icon" style="margin-left: 13px;"></i>
</span>
<span style="position: relative; top: 70%;">
  <i class="fas fa-question-circle sidebar-icon"></i><br />
</span>
